<div class="panel panel-default">
  <div class="panel-heading">
    {{tareat.descripcion}}
    <a class="pull-right" routerLink="/tareas_t">
      Atras
    </a>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <th>Id. Proyecto</th>
        <td>{{tareat.id_proyecto}}</td>
      </tr>
      <tr>
        <th>Id. Estado</th>
        <td>{{tareat.id_estado}}</td>
      </tr>
       <tr>
        <th>Descripción</th>
        <td>{{tareat.descripcion}}</td>
      </tr>
    </table>
  </div>
</div>