<div class="contenedor">
	<legend>Personas</legend>
	<div class="form-inline" *ngIf="operacion_crud.is_visible">
		<label>Id:</label>
		<input class="form-control" type="text" placeholder="cédula" [(ngModel)]="persona_actual.id">
		<label>Nombre:</label>
		<input class="form-control" type="text" placeholder="mi nombre" [(ngModel)]="persona_actual.nombre">
		<label>Avatar:</label>
		<input class="form-control" type="text" placeholder="url" [(ngModel)]="persona_actual.avatar">
		<button class="btn btn-primary"(click)="save()">
			<i class="fa fa-floppy-o" aria-hidden="true"></i>
			Save
		</button>
		<button class="btn btn-default"(click)="operacion_crud.is_visible = false">
			<i class="fa fa-ban" aria-hidden="true"></i>
			Cancel
		</button>
	</div>
	<table class="table table-striped table-hover">
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Avatar</th>	
			<th class="text-right">
				<button class="btn btn-success" (click)="new()"><i class="fa fa-plus" aria-hidden="true"></i></button>
				<button class="btn btn-info" (click)="ngOnInit()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
			</th>
		</tr>
		<tr *ngFor="let row of personas">
			<td>{{row.id}}</td>
			<td>{{row.nombre}}</td>
			<td><a href="{{row.avatar}}"><img src="{{row.avatar}}" width="30" height="30"></a></td>
			<td class="text-right">
				<div *ngIf="!row.confirm">
					<button class="btn btn-warning"(click)="edit(row)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
					<button class="btn btn-danger" (click)="row.confirm = true"><i class="fa fa-times" aria-hidden="true"></i></button>		
				</div>
				<div *ngIf="row.confirm">
					<button class="btn btn-danger" (click)="row.confirm = false">Cancel</button>
					<button class="btn btn-success" (click)="delete(row)">Confirm</button>
				</div>
			</td>
		</tr>	
		<tr *ngIf="personas.length == 0">
			<td colspan="4" class="text-center">No hay datos disponibles</td>
		</tr>
	</table>
</div>

<script type="text/javascript">
function CargarFoto(img, ancho, alto){
  derecha=(screen.width-ancho)/2;
  arriba=(screen.height-alto)/2;
  string="toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=1,width="+ancho+",height="+alto+",left="+derecha+",top="+arriba+"";
  fin=window.open(img,"",string);
}
</script>