
<script type="text/javascript">
angular
  .module('demo', ['dndLists'])
  .controller('DemoController', function($scope) {
    $scope.model = [generateList(1), generateList(2)];

    $scope.onDrop = function(srcList, srcIndex, targetList, targetIndex) {
      // Copy the item from source to target.
      targetList.splice(targetIndex, 0, srcList[srcIndex]);
      // Remove the item from the source, possibly correcting the index first.
      // We must do this immediately, otherwise ng-repeat complains about duplicates.
      if (srcList == targetList && targetIndex <= srcIndex) srcIndex++;
      srcList.splice(srcIndex, 1);
      // By returning true from dnd-drop we signalize we already inserted the item.
      return true;
    };

    function generateList(id) {
      return ['A', 'B', 'C'].map(function(letter) {
        // angular-drag-and-drop-lists usually serializes the objects to drag, thus we
        // can not transfer functions on the objects. However, as this fiddle uses dnd-callback
        // to move the objects directly without serialization, we can use a function reference
        // on the item here.
        return {
          labelFunc: function(index) {
            return "Item " + id + letter + " at index " + index;
          }
        };
      });
    }
  });
</script>

<div class="panel panel-default">
  <div class="panel-heading">
      {{ proyecto.nombre }}
      <a class="pull-right" routerLink="/proyectos">
          Atras 
      </a>
    </div>

  <div id="panel_tareas" class="panel panel-default">
    <div id="div_tarea" *ngFor="let estados of tarea">
      <h4 align="center" class="nombre_descripcion">{{estados.descripcion}}</h4>

      <div *ngFor="let tareas of tareat">
        <div id="div_tareat" draggable="true" *ngIf="estados.id == tareas.id_estado">
          <h4 align="center" class="tareat_descripcion">{{tareas.descripcion}}</h4>
        </div>
      </div>    
    </div>
  </div>
</div>


<div ng-app="demo">
  <div ng-controller="DemoController" class="row">
    <div ng-repeat="list in model" class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">List {{$index+1}}</h3></div>
        <div class="panel-body">
          <ul dnd-list dnd-drop="callback({targetList: list, targetIndex: index})">
            <li ng-repeat="item in list"
                dnd-draggable="null" dnd-callback="onDrop(list, $index, targetList, targetIndex)">
              {{item.labelFunc($index)}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



<!--
<div id="estados_tareas" class="panel panel-default" style="width: 100%; background: #a6a6a6;">
		<div style= "width: 100; padding: 7%;"  *ngFor="let row of tarea">
			<button style= "width: 90%;"><h4>{{row.descripcion}}</h4></button>
		</div>
	</div>
-->
<!--
<script type="text/javascript">

	function drag(ev){
		alert("hello");
		ev.dataTransfer.setData("Text", ev.target.bcolumna1);
	}

	function allowDrop(ev){
		ev.preventDefault();
	}

	function drop(ev){
		ev.preventDefault();
		var datos = ev.dataTransfer.getData("Text");
		ev.target.appendChild(document.getElementById(datos));
	}
</script>
-->