<div class="panel panel-default">
	<div class="panel-heading">
    	{{ proyecto.nombre }}
    	<a class="pull-right" routerLink="/proyectos">
      		Atras 
    	</a>
    </div>

	<div id="columna1" class="panel panel-default" style="width: 25%; background: #a6a6a6;">
		<div class="column" style= "padding: 10px;"  *ngFor="let row of tarea">
			<button style= "width: 97%;" id="dragelement" draggable="true" (click)="dragStart($event)"><h4>{{row.descripcion}}</h4></button>
		</div>
	</div>
	<div id="columna2" class="panel panel-default" style="width: 74%; background: #e6e6e6;">
		<table style= "width: 97%;">
			<tr>
				<div class="column" style= "padding: 10px;"  *ngFor="let row of tarea">
					<!--<button style= "width: 97%;"><h4>{{row.descripcion}}</h4></button>-->
					<div id="dcolumna2" ondragover="allowDrop(event)" ondrop="drop(event)" style="width: 97%; height: 15%;"></div>
				</div>
			</tr>
		</table>
	</div>
</div>
<!--
<script type="text/javascript">

	function drag(ev){
		alert("hello");
		ev.dataTransfer.setData("Text", ev.target.bcolumna1);
	}

	function allowDrop(ev){
		ev.preventDefault();
	}

	function drop(ev){
		ev.preventDefault();
		var datos = ev.dataTransfer.getData("Text");
		ev.target.appendChild(document.getElementById(datos));
	}
</script>
-->