<div class="panel panel-default">
  <div class="panel-heading">
    {{ proyecto.nombre }} <a class="pull-right" routerLink="/proyectos">
      Atras </a>
  </div>
</div>

<div class="row">
  <div class="col-sm-3" *ngFor="let estado of estados; let e = index">
    <div class="panel panel-info">
      <div class="panel-heading">{{estado.descripcion}}<button id="agregar_tarea" class="btn btn-success" (click)="tareaNueva()"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </div>
        <div class="panel-body" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="tareat[e]">
         
            <ul class="list-group" *ngIf="operacion_tarea.is_visible">
              <div class="form-inline">
                <input class="list-group-item" type="text" placeholder="descripcion" #box (keyup.enter)="guardar(proyecto.id, estado.id, box.value)" (keyup.esc)="cerrarTarea()">
              </div>
            </ul>
    
          <ul class="list-group" *ngFor="let tarea of tareat[e]; let i = index">
            <li (onDropSuccess)="guardarTareaDragDrop(tarea, estado.id)" class="list-group-item" dnd-sortable [sortableIndex]="i">{{tarea.descripcion}}</li>
          </ul>
        </div>
    </div>
  </div>
</div>



<!--
<button class="btn btn-success" (click)="save()">
                  <i aria-hidden="true"></i>
                  Guardar
                </button>

  <div class="form-inline" *ngIf="operacion_tarea.is_visible">
            <ul class="list-group">
              <li class="list-group-item"><input class="list-group-item" type="text" placeholder="descripcion"></li>
            </ul>
          </div>



<div id="estados_tareas" class="panel panel-default" style="width: 100%; background: #a6a6a6;">
		<div style= "width: 100; padding: 7%;"  *ngFor="let row of tarea">
			<button style= "width: 90%;"><h4>{{row.descripcion}}</h4></button>
		</div>
	</div>
-->
<!--
<script type="text/javascript">

	function drag(ev){
		alert("hello");
		ev.dataTransfer.setData("Text", ev.target.bcolumna1);
	}

	function allowDrop(ev){
		ev.preventDefault();
	}

	function drop(ev){
		ev.preventDefault();
		var datos = ev.dataTransfer.getData("Text");
		ev.target.appendChild(document.getElementById(datos));
	}
</script>
-->