<div class="contenedor">
	<legend>Tareas</legend>
	<div class="form-inline" *ngIf="operacion_crud.is_visible">
		<label>Id:</label>
		<input type="form-control" type="text" placeholder="código" [(ngModel)] = "tarea_t_actual.id">
		<label>Descripcion:</label>
		<input type="form-control" type="text" placeholder="descripción" [(ngModel)] = "tarea_t_actual.descripcion">
		<button class="btn btn-primary"(click)="save()">
			<i class = "fa fa-floppy-o" aria-hidden="true"></i>
			Save
		</button>

		<button class="btn btn-default"(click)="operacion_crud.is_visible = false">
			<i class="fa fa-ban" aria-hidden="true"></i>
			Cancel
		</button>
	</div>

	<table class="table table-striped table-hover">
		<tr>
			<th>Id</th>
			<th>Descripción</th>
			<th class="text-right">
				<button class="btn btn-success" (click)="new()"><i class="fa fa-plus" aria-hidden = "true"></i></button>
				<button class="btn btn-info" (click)="ngOnInit()"><i class="fa fa-refresh" aria-hidden = "true"></i></button>
			</th>
		</tr>
		<tr *ngFor="let row of tareas_t">
			<td>{{row.id}}</td>
			<td>{{row.descripcion}}</td>
			<td class="text-right">
				<div *ngIf="!row.confirm">
					<button class="btn btn-warning" (click)="edit(row)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
					<button class="btn btn-danger" (click)="row.confirm = true"><i class="fa fa-times" aria-hidden="true"></i></button>
					<a class="btn btn-info" [routerLink]="['/tareas_t/', row.descripcion]">
						<i class="fa fa-eye" aria-hidden="true"></i>
					</a>
				</div>
				<div *ngIf="row.confirm">
					<button class="btn btn-danger" (click)="row.confirm = false">Cancel</button>
					<button class="btn btn-success" (click)="delete(row)">Confirm</button>
				</div>
			</td>
		</tr>
		<tr *ngIf = "tareas_t.length == 0">
			<td colspan="2" class="text-center">No hay datos disponibles</td>
		</tr>
	</table>
</div>